* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 1rem 12rem 6rem 12rem;
    /*padding: clamp(0.1rem, 10vw, 12rem);*/
    margin: 0;
}

@media (max-width: 450px) {
    .header {
        padding: 1rem;
    }
}

.header-top-container {
    display: flex;
    margin-bottom: 60px;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    width: 30rem;
}

.header-text-small, .header-item {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text-small {
    padding-right: 6rem;
}

.header-item {
    margin: auto;
}

.header-text-large {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    text-align: center;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
}

.header-image {
    background-color: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main {
    display: flex;
}

.header-main div {
    flex: 1;
}

.header-text-large, .header-text-small {
    margin-bottom: 1rem;
}

.information-section {
    padding-bottom: 7rem;
}

.information-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 3rem;
}

.info-box-outer {
    width: 12rem;
    height: 12rem;
    border: solid #3882F6;
    border-radius: 1rem;
    background-color: #3882F6;
    display: flex;
    padding: 0.1rem;
}

.info-box {
      border-radius: 0.7rem;
      margin: 0;
      background: white;
      flex: 1;
}

.info-box-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.info-box-subtitle {
    text-align: center;
    padding-top: 0.4rem;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-source {
    font-weight: bold;
    text-align: right;
    font-size: 2rem;
}

.quote-container {
    padding: 10rem 15rem;
    background-color: #E5E7EB;
}

@media (max-width: 450px) {
    .quote-container {
        padding: 1rem;
    }
}

.sign-up-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 4rem;
    margin: 5rem 8rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 450px) {
    .sign-up-area {
        padding: 1rem;
        margin: 1rem;
    }
}

.sign-up-button-extra {
    border: 0.2rem solid #3882F6;
    margin: 0;
    flex: 1;
}

.sign-up-button-extra-outer {
    border: solid white;
    padding: 0rem;
    border-radius: 1.3rem;
    display: flex;
    background-color: white;
}

.sign-up-text p {
    color: white;
    font-size: 1.5rem;
}

#sign-up-bold {
    font-weight: 700;
    font-size: 2rem;
}

.copyright-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 4rem;
    color: white;
}